/* _section.scss */
/* header */
header .wrapper{
    background-color: $tertiary;
    justify-content: space-between;
}


/* main */
main .wrapper {
    height: 80vh;
    background-color: $primary;
    justify-content: space-between;
    // position: relative;
}

.banner {
    position: absolute;
    width: 20vh;
    left: 50%;
    transform: translate(-50%);
}

.leftPanel, .rightPanel {
    width: 100%;
    margin-top: 200px;
}

.spine {
    background-color: #db4646;
    width: 5%;
}

.leftPanel {
    justify-content: center;
    align-items: center;
}

.rightPanel {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .textContainer {
        width: 80%;
        height: 40%;
        background-color: $secondary;
    }
    .inputContainer {
        width: 80%;
        height: 10%;
        input {
            width: 80%;
            background-color: #b6b8b6;
        };
        .submit {
            width: 20%
        }
    }
}

footer {
    background-color: $secondary;
    text-align: center;
}