.slide-in-right {
	animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.wobble-hor-bottom:hover {
	animation: wobble-hor-bottom 0.8s both;
}

.flicker {
    animation: flicker 0.5s linear both;
}

.tilt-in-fwd-tr {
    animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.tilt-in-fwd-tl {
	animation: tilt-in-fwd-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.puff-in-center {
	animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.pulsate-bck:hover {
	animation: pulsate-bck 0.5s ease-in-out infinite both;
}

.pulseGreen:hover, .pulseGreen:focus, #none:checked {
    animation: pulseGreen 2s linear infinite;
}
.pulseYellow:hover, .pulseYellow:focus, #easy:checked {
    animation: pulseYellow 2s linear infinite;
}

.pulseOrange:hover, .pulseOrange:focus, #medium:checked {
    animation: pulseOrange 2s linear infinite;
}

.pulseRed:hover, .pulseRed:focus, #hard:checked {
    animation: pulseRed 2s linear infinite;
}



/* _section.scss */
/* body */
body {
    background-image: url(../assets/grass-background.png);
    background-repeat: no-repeat;
    background-position: top center;
    // height: 100vh;
    background-size: cover;
    position: relative;
    // background-color: purple;
}

/* header */
header .wrapper{
    margin-top: 30px;
    background-color: $tertiary;
    justify-content: space-between;
    border-radius: 30px 30px 0 0;
    border: 2px solid black;
    
    box-shadow: 0px -10px 20px 10px rgba(0,0,0,0.35);
    i {
        padding: 15px 20px;
        color: #ffde00;
        &:hover, &:focus {
            // color: black;
            text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.87);
        }
    }
    input[type=checkbox] {
        position: absolute;
        left: -5000px;
    }
}


/* main */
main .wrapper {
    min-height: 80vh;
    margin-bottom: 30px;
    background-color: $primary;
    justify-content: space-between;
    border-radius: 0 0 30px 30px;
    border: solid black;
    border-width: 0px 2px 2px 2px;
    box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.5);
    position: relative;
}

.banner {
    position: absolute;
    // width: 50vh;
    // width: 300px;
    left: 50%;
    top: -60px;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    img {
        width: 400px;
    }
    h1 {
        display: flex;
        transform: translateY(30%);
        margin-left: 10px;
    }
    span {
        display: inline;
        color: black;
        text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
        padding-right: 10px;
    }
    span {
        color: black;
        text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    }

}

.leftPanel, .rightPanel {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 100px;
    padding: 0 5%;
}

.spine {
    background-color: #db4646;
    width: 5%;
    border: solid black;
    border-width: 0px 2px 0px 2px;
}

.leftPanel {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .imgContainer {
        border: 8px outset #949494;
        border-width: 20px 20px 35px 20px;
        border-radius: 10px 10px 10px 30px;
        max-width: 375px;
        position: relative;
        background-color: $secondary;
        box-shadow: 0 0 0 2px black, -5px 5px 0px 0px #3a3a3a;
    }
    canvas {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        border: 2px solid black;
    }

    form {
        margin-top: 10px;
    }

    input[type=radio] {
        margin: 10px;
        width: 2rem;
        height: 2rem;
    }

    #none {
        accent-color: rgb(125, 245, 125);
    }
    #easy {
        accent-color: rgb(253, 253, 163);
    }

    #medium {
        accent-color: rgb(240, 182, 75);
    }
    #hard {
        accent-color: rgb(255, 96, 96);
    }

}

.rightPanel {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .textContainer {
        width: 100%;
        height: 200px;
        background-color: $secondary;
        border-radius: 15px;
        border: 2px solid black;
        padding: 10px;
        margin-bottom: 66px;
        p {
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }
    .inputContainer {
        width: 100%;
        input {
            width: 80%;
            background-color: #b6b8b6;
            border-radius: 10px;
            border: 2px solid black;
            padding-left: 10px;
        };
        .submit {
            width: 20%;
            background-color: $primary;
            border-radius: 10px;
            border: 2px solid black;
            margin-left: 10px;
            &:hover , &:focus{
                border: 2px inset black;
                box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
            }
            &:active {
                border: 2px inset black;
                box-shadow: inset -1px 3px 8px 5px #575857, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
            } 
        }
    }
}

.correctPosition {
    color: #5357B4;
}
.correctLetter {
    color: yellow;
}

.helpTab {
    // background-color: #ffde00;
    animation: tilt-in-fwd-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background-image: url("../assets/pokemonWallpaper.jpg");
    background-size: cover;
    background-position: top center;
    width: 647px;
    height: 382px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50% );
    padding: 50px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.5);
    
    h3 {
        margin-bottom: 10px;
    }

}

.helpTab, .scoreboardDisplay {
    padding: 50px;
    .fa-solid {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    p {
        font-size: 1rem;
    }
}

.answerTab {
    background-image: url(../assets/answerTabBG.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid black;
    width: 60%;
    max-width: 1050px;
    height: calc(720 / 1280 * 60vw);
    max-height: 720px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50% );
    justify-content: space-evenly;
    animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;

    .imgContainer {
        width: 45%;
        max-width: 375px;
    }
    .textContainer {
        flex-direction: column;
        justify-content: space-evenly;
        width: 55%;
        text-align: center;
        align-items: center;
        button {
            width: 50%;
            padding: 10px;
            border-radius: 10px;
            background-color: transparent;
            &:hover, &:focus {
                // background-color: $primary;
            }
        }
    }
}

.scoreboardDisplay {
	animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    // background-color: #ffde00;
    background-image: url("../assets/pokemonWallpaper.jpg");
    background-size: cover;
    background-position: bottom center;
    position: fixed;
    width: 647px;
    height: 382px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50% );
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.5);
    h3 {
        margin-bottom: 10px;
    }
}

footer {
    // background-color: $secondary;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    bottom:0;
}