/* _typography.scss */

h1{
    font-family: $headingFont;
    font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 0 $secondary, 2px -2px 0 $secondary, -2px 2px 0 $secondary, -2px -2px 0 $secondary, 2px 0px 0 $secondary, 0px 2px 0 $secondary, -2px 0px 0 $secondary, 0px -2px 0 $secondary, 2px 2px 2px rgba(206,89,55,0);
}

h2 {
    font-family: $mainFont;
    font-size: 2rem;
    color: #3b4cca;
    // text-shadow: 5px 5px 0px #ffde00, -5px 5px 0px #ffde00, -5px -5px 0px #ffde00, 5px -5px 0px #ffde00, 5px -5px 0px #ffde00, 0px 0px 20px #ffde00;
    text-shadow: 2px 2px 0 #ffde00, 2px -2px 0 #ffde00, -2px 2px 0 #ffde00, -2px -2px 0 #ffde00, 2px 0px 0 #ffde00, 0px 2px 0 #ffde00, -2px 0px 0 #ffde00, 0px -2px 0 #ffde00, 4px 5px 0px rgba(255,222,0,0);
    text-transform: uppercase;
}

h3 {
    font-family: $mainFont;
    font-size: 1.5rem;
    display: inline;
}

p {
    font-family: $mainFont;
    // line-height: 1.15;
    font-size: 1.3rem;
}

footer p {
    font-size: .5rem;
}

.button {
    font-family: $mainFont;
}