/* _variables.scss */

@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@800&display=swap');

// font-family: 'Orbitron', sans-serif;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Roboto', sans-serif;

// site fonts
$mainFont: 'Ubuntu', sans-serif;
$numberFont: 'Orbitron', sans-serif;
$headingFont: 'Roboto Serif', sans-serif;

//stie colours
$primary: #ae0000; 
$secondary: #57b453;
$tertiary: #0090ab;
$solidWhite: #fff; 
$solidBlack: #000;