/* _setup.scss */
@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@800&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* _variables.scss */
/* ----------------------------------------------
 * Generated by Animista on 2022-2-18 12:4:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-2-18 15:41:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
@-webkit-keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-2-19 15:8:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tilt-in-fwd-tr
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(-20%, -80%) skew(-35deg, 10deg);
            transform: rotateY(20deg) rotateX(35deg) translate(-20%, -80%) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(-50%, -50%) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(-50%, -50%) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(-20%, -80%) skew(-35deg, 10deg);
            transform: rotateY(20deg) rotateX(35deg) translate(-20%, -80%) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(-50%, -50%) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(-50%, -50%) skew(0deg, 0deg);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-2-19 15:47:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tilt-in-fwd-tl
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-75%, -80%) skew(35deg, -10deg);
            transform: rotateY(-20deg) rotateX(35deg) translate(-75%, -80%) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(-50%, -50%) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(-50%, -50%) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-75%, -80%) skew(35deg, -10deg);
            transform: rotateY(-20deg) rotateX(35deg) translate(-75%, -80%) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(-50%, -50%) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(-50%, -50%) skew(0deg, 0deg);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-2-20 11:42:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(4);
            transform: scale(4);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(4);
            transform: scale(4);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-2-20 14:24:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes pulseGreen {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(125, 245, 125, 0.7);
            box-shadow: 0 0 0 0px rgba(125, 245, 125, 0.7);
  }
  40% {
    -webkit-box-shadow: 0 0 5px 5px rgba(125, 245, 125, 0.7);
            box-shadow: 0 0 5px 5px rgba(125, 245, 125, 0.7);
  }
  80% {
    -webkit-box-shadow: 0 0 5px 5px rgba(125, 245, 125, 0.7);
            box-shadow: 0 0 5px 5px rgba(125, 245, 125, 0.7);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(125, 245, 125, 0.7);
            box-shadow: 0 0 0 0 rgba(125, 245, 125, 0.7);
  }
}
@keyframes pulseGreen {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(125, 245, 125, 0.7);
            box-shadow: 0 0 0 0px rgba(125, 245, 125, 0.7);
  }
  40% {
    -webkit-box-shadow: 0 0 5px 5px rgba(125, 245, 125, 0.7);
            box-shadow: 0 0 5px 5px rgba(125, 245, 125, 0.7);
  }
  80% {
    -webkit-box-shadow: 0 0 5px 5px rgba(125, 245, 125, 0.7);
            box-shadow: 0 0 5px 5px rgba(125, 245, 125, 0.7);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(125, 245, 125, 0.7);
            box-shadow: 0 0 0 0 rgba(125, 245, 125, 0.7);
  }
}
@-webkit-keyframes pulseYellow {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(253, 253, 163, 0.7);
            box-shadow: 0 0 0 0 rgba(253, 253, 163, 0.7);
  }
  40% {
    -webkit-box-shadow: 0 0 5px 5px rgba(253, 253, 163, 0.7);
            box-shadow: 0 0 5px 5px rgba(253, 253, 163, 0.7);
  }
  80% {
    -webkit-box-shadow: 0 0 5px 5px rgba(253, 253, 163, 0.7);
            box-shadow: 0 0 5px 5px rgba(253, 253, 163, 0.7);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(253, 253, 163, 0.7);
            box-shadow: 0 0 0 0 rgba(253, 253, 163, 0.7);
  }
}
@keyframes pulseYellow {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(253, 253, 163, 0.7);
            box-shadow: 0 0 0 0 rgba(253, 253, 163, 0.7);
  }
  40% {
    -webkit-box-shadow: 0 0 5px 5px rgba(253, 253, 163, 0.7);
            box-shadow: 0 0 5px 5px rgba(253, 253, 163, 0.7);
  }
  80% {
    -webkit-box-shadow: 0 0 5px 5px rgba(253, 253, 163, 0.7);
            box-shadow: 0 0 5px 5px rgba(253, 253, 163, 0.7);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(253, 253, 163, 0.7);
            box-shadow: 0 0 0 0 rgba(253, 253, 163, 0.7);
  }
}
@-webkit-keyframes pulseOrange {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(240, 182, 75, 0.7);
            box-shadow: 0 0 0 0px rgba(240, 182, 75, 0.7);
  }
  40% {
    -webkit-box-shadow: 0 0 5px 5px rgba(240, 182, 75, 0.7);
            box-shadow: 0 0 5px 5px rgba(240, 182, 75, 0.7);
  }
  80% {
    -webkit-box-shadow: 0 0 5px 5px rgba(240, 182, 75, 0.7);
            box-shadow: 0 0 5px 5px rgba(240, 182, 75, 0.7);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(240, 182, 75, 0.7);
            box-shadow: 0 0 0 0 rgba(240, 182, 75, 0.7);
  }
}
@keyframes pulseOrange {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(240, 182, 75, 0.7);
            box-shadow: 0 0 0 0px rgba(240, 182, 75, 0.7);
  }
  40% {
    -webkit-box-shadow: 0 0 5px 5px rgba(240, 182, 75, 0.7);
            box-shadow: 0 0 5px 5px rgba(240, 182, 75, 0.7);
  }
  80% {
    -webkit-box-shadow: 0 0 5px 5px rgba(240, 182, 75, 0.7);
            box-shadow: 0 0 5px 5px rgba(240, 182, 75, 0.7);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(240, 182, 75, 0.7);
            box-shadow: 0 0 0 0 rgba(240, 182, 75, 0.7);
  }
}
@-webkit-keyframes pulseRed {
  0% {
    -webkit-box-shadow: 0 0 0 0px #d34f4f;
            box-shadow: 0 0 0 0px #d34f4f;
  }
  40% {
    -webkit-box-shadow: 0 0 5px 5px #d34f4f;
            box-shadow: 0 0 5px 5px #d34f4f;
  }
  80% {
    -webkit-box-shadow: 0 0 5px 5px #d34f4f;
            box-shadow: 0 0 5px 5px #d34f4f;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 #d34f4f;
            box-shadow: 0 0 0 0 #d34f4f;
  }
}
@keyframes pulseRed {
  0% {
    -webkit-box-shadow: 0 0 0 0px #d34f4f;
            box-shadow: 0 0 0 0px #d34f4f;
  }
  40% {
    -webkit-box-shadow: 0 0 5px 5px #d34f4f;
            box-shadow: 0 0 5px 5px #d34f4f;
  }
  80% {
    -webkit-box-shadow: 0 0 5px 5px #d34f4f;
            box-shadow: 0 0 5px 5px #d34f4f;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 #d34f4f;
            box-shadow: 0 0 0 0 #d34f4f;
  }
}
/* _baseStyles.scss */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input, button {
  border: none;
}

/* _typography.scss */
h1 {
  font-family: "Roboto Serif", sans-serif;
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px 0 #57b453, 2px -2px 0 #57b453, -2px 2px 0 #57b453, -2px -2px 0 #57b453, 2px 0px 0 #57b453, 0px 2px 0 #57b453, -2px 0px 0 #57b453, 0px -2px 0 #57b453, 2px 2px 2px rgba(206, 89, 55, 0);
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  color: #3b4cca;
  text-shadow: 2px 2px 0 #ffde00, 2px -2px 0 #ffde00, -2px 2px 0 #ffde00, -2px -2px 0 #ffde00, 2px 0px 0 #ffde00, 0px 2px 0 #ffde00, -2px 0px 0 #ffde00, 0px -2px 0 #ffde00, 4px 5px 0px rgba(255, 222, 0, 0);
  text-transform: uppercase;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  display: inline;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3rem;
}

footer p {
  font-size: 0.5rem;
}

.button {
  font-family: "Ubuntu", sans-serif;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.wobble-hor-bottom:hover {
  -webkit-animation: wobble-hor-bottom 0.8s both;
          animation: wobble-hor-bottom 0.8s both;
}

.flicker {
  -webkit-animation: flicker 0.5s linear both;
          animation: flicker 0.5s linear both;
}

.tilt-in-fwd-tr {
  -webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.tilt-in-fwd-tl {
  -webkit-animation: tilt-in-fwd-tl 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: tilt-in-fwd-tl 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
          animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.pulsate-bck:hover {
  -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
          animation: pulsate-bck 0.5s ease-in-out infinite both;
}

.pulseGreen:hover, .pulseGreen:focus, #none:checked {
  -webkit-animation: pulseGreen 2s linear infinite;
          animation: pulseGreen 2s linear infinite;
}

.pulseYellow:hover, .pulseYellow:focus, #easy:checked {
  -webkit-animation: pulseYellow 2s linear infinite;
          animation: pulseYellow 2s linear infinite;
}

.pulseOrange:hover, .pulseOrange:focus, #medium:checked {
  -webkit-animation: pulseOrange 2s linear infinite;
          animation: pulseOrange 2s linear infinite;
}

.pulseRed:hover, .pulseRed:focus, #hard:checked {
  -webkit-animation: pulseRed 2s linear infinite;
          animation: pulseRed 2s linear infinite;
}

/* _section.scss */
/* body */
body {
  background-image: url(../assets/grass-background.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}

/* header */
header .wrapper {
  margin-top: 30px;
  background-color: #0090ab;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 30px 30px 0 0;
  border: 2px solid black;
  -webkit-box-shadow: 0px -10px 20px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 0px -10px 20px 10px rgba(0, 0, 0, 0.35);
}
header .wrapper i {
  padding: 15px 20px;
  color: #ffde00;
}
header .wrapper i:hover, header .wrapper i:focus {
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.87);
}
header .wrapper input[type=checkbox] {
  position: absolute;
  left: -5000px;
}

/* main */
main .wrapper {
  min-height: 80vh;
  margin-bottom: 30px;
  background-color: #ae0000;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 0 30px 30px;
  border: solid black;
  border-width: 0px 2px 2px 2px;
  -webkit-box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.banner {
  position: absolute;
  left: 50%;
  top: -60px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.banner img {
  width: 400px;
}
.banner h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  margin-left: 10px;
}
.banner span {
  display: inline;
  color: black;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding-right: 10px;
}
.banner span {
  color: black;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.leftPanel, .rightPanel {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 100px;
  padding: 0 5%;
}

.spine {
  background-color: #db4646;
  width: 5%;
  border: solid black;
  border-width: 0px 2px 0px 2px;
}

.leftPanel {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.leftPanel .imgContainer {
  border: 8px outset #949494;
  border-width: 20px 20px 35px 20px;
  border-radius: 10px 10px 10px 30px;
  max-width: 375px;
  position: relative;
  background-color: #57b453;
  -webkit-box-shadow: 0 0 0 2px black, -5px 5px 0px 0px #3a3a3a;
          box-shadow: 0 0 0 2px black, -5px 5px 0px 0px #3a3a3a;
}
.leftPanel canvas {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  border: 2px solid black;
}
.leftPanel form {
  margin-top: 10px;
}
.leftPanel input[type=radio] {
  margin: 10px;
  width: 2rem;
  height: 2rem;
}
.leftPanel #none {
  accent-color: #7df57d;
}
.leftPanel #easy {
  accent-color: #fdfda3;
}
.leftPanel #medium {
  accent-color: #f0b64b;
}
.leftPanel #hard {
  accent-color: #ff6060;
}

.rightPanel {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rightPanel .textContainer {
  width: 100%;
  height: 200px;
  background-color: #57b453;
  border-radius: 15px;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 66px;
}
.rightPanel .textContainer p {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.rightPanel .inputContainer {
  width: 100%;
}
.rightPanel .inputContainer input {
  width: 80%;
  background-color: #b6b8b6;
  border-radius: 10px;
  border: 2px solid black;
  padding-left: 10px;
}
.rightPanel .inputContainer .submit {
  width: 20%;
  background-color: #ae0000;
  border-radius: 10px;
  border: 2px solid black;
  margin-left: 10px;
}
.rightPanel .inputContainer .submit:hover, .rightPanel .inputContainer .submit:focus {
  border: 2px inset black;
  -webkit-box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.rightPanel .inputContainer .submit:active {
  border: 2px inset black;
  -webkit-box-shadow: inset -1px 3px 8px 5px #575857, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: inset -1px 3px 8px 5px #575857, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.correctPosition {
  color: #5357B4;
}

.correctLetter {
  color: yellow;
}

.helpTab {
  -webkit-animation: tilt-in-fwd-tl 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: tilt-in-fwd-tl 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background-image: url("../assets/pokemonWallpaper.jpg");
  background-size: cover;
  background-position: top center;
  width: 647px;
  height: 382px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 10px;
  border: 2px solid black;
  -webkit-box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.5);
}
.helpTab h3 {
  margin-bottom: 10px;
}

.helpTab, .scoreboardDisplay {
  padding: 50px;
}
.helpTab .fa-solid, .scoreboardDisplay .fa-solid {
  position: absolute;
  right: 10px;
  top: 10px;
}
.helpTab p, .scoreboardDisplay p {
  font-size: 1rem;
}

.answerTab {
  background-image: url(../assets/answerTabBG.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 10px;
  border: 2px solid black;
  width: 60%;
  max-width: 1050px;
  height: calc(720 / 1280 * 60vw);
  max-height: 720px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-animation: puff-in-center 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
          animation: puff-in-center 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
.answerTab .imgContainer {
  width: 45%;
  max-width: 375px;
}
.answerTab .textContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 55%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.answerTab .textContainer button {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
}
.scoreboardDisplay {
  -webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background-image: url("../assets/pokemonWallpaper.jpg");
  background-size: cover;
  background-position: bottom center;
  position: fixed;
  width: 647px;
  height: 382px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 2px solid black;
  -webkit-box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.5);
}
.scoreboardDisplay h3 {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  bottom: 0;
}

@media (max-width: 1100px) {
  .banner {
    min-width: 200px;
    top: -70px;
    left: 41%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner img {
    width: 60%;
  }
  .banner h1 {
    width: 40%;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
    text-align: center;
    margin-left: 0;
    font-size: clamp(1rem, -0.4595rem + 7.2973vw, 4rem);
  }
  .banner h1 span {
    display: block;
  }

  .answerTab {
    width: 75vw;
  }
}
@media (max-width: 900px) {
  main .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .spine {
    height: 10px;
    width: 100%;
    border: solid black;
    border-width: 2px 0 2px 0;
  }

  .helpTab, .scoreboardDisplay {
    width: 300px;
    height: auto;
    background-position: top center;
  }
  .helpTab p, .helpTab li, .scoreboardDisplay p, .scoreboardDisplay li {
    padding: 5px 0;
  }

  .leftPanel, .rightPanel {
    margin-top: calc(60 / 900 * 100vw);
  }

  .rightPanel .textContainer {
    margin-bottom: 30px;
  }
  .rightPanel .textContainer p {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .rightPanel .inputContainer {
    margin-top: 10px;
  }
  .rightPanel .inputContainer input {
    width: 80%;
    background-color: #b6b8b6;
  }
  .rightPanel .inputContainer .submit {
    width: 20%;
    background-color: #ae0000;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 10px;
  }

  .answerTab {
    background-position: top left;
    min-width: 325px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    height: calc(800 / 650 * 60vw);
  }
  .answerTab .textContainer {
    width: 100%;
  }
  .answerTab .textContainer p {
    padding: 20px;
  }
}
@media (max-width: 480px) {
  main .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .spine {
    height: 10px;
    width: 100%;
    border: solid black;
    border-width: 2px 0 2px 0;
  }

  .helpTab, .scoreboardDisplay {
    width: 300px;
    background-position: top left;
  }
  .helpTab p, .helpTab li, .scoreboardDisplay p, .scoreboardDisplay li {
    padding: 5px 0;
  }

  .banner {
    min-width: 100px;
    top: -60px;
    left: 43%;
  }

  .rightPanel .textContainer p {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .rightPanel .inputContainer {
    margin-top: 10px;
  }
  .rightPanel .inputContainer input {
    width: 80%;
    background-color: #b6b8b6;
  }
  .rightPanel .inputContainer input::-webkit-input-placeholder {
    font-size: 0.9rem;
  }
  .rightPanel .inputContainer input::-moz-placeholder {
    font-size: 0.9rem;
  }
  .rightPanel .inputContainer input:-ms-input-placeholder {
    font-size: 0.9rem;
  }
  .rightPanel .inputContainer input::-ms-input-placeholder {
    font-size: 0.9rem;
  }
  .rightPanel .inputContainer input::placeholder {
    font-size: 0.9rem;
  }
  .rightPanel .inputContainer .submit {
    width: 20%;
    background-color: #ae0000;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 10px;
  }

  .answerTab {
    height: 360px;
  }
}